@import url('https://fonts.googleapis.com/css2family=Source+Code+Pro&display=swap');

body {
    background-color: rgb(27, 27, 27);
    color: white;
}

.jscheck {
    font-family: 'Source Code Pro', monospace!important;
    color: rgb(51, 255, 0);
}
